@import 'reset.css';

@font-face {
	font-family: 'hanken';
	src: url('../fonts/hanken/Hanken-Book.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'hanken';
	src: url('../fonts/hanken/Hanken-light.ttf');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'hanken';
	src: url('../fonts/hanken/Hanken-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}


:root {
	--nav-height: 40px;
	--cl-default: darkblue;
	--bg-default: #73ddff; 
}


* { box-sizing: border-box; }

html {
	scroll-behavior: smooth;
}

body {
	font-size: 20px;
	line-height: 2.2em;
	font-family: 'hanken';
	color: var(--cl-default);
	width: 100%;
}

a {
	color: var(--cl-default);
}
a.logo {
	text-transform: uppercase;
	letter-spacing: .1em;
}

h1 {
	/* letter-spacing: -.05em;  */
	text-transform: uppercase;
	font-size: 10vw;
	line-height: 1em;
	margin-top: .5em;
	font-weight: bold;
  -webkit-text-stroke-color: darkblue;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 5px;
	color: white;
	padding: .5rem;
}

h2 {
	font-size: 3em;
	line-height: 1em;
	font-weight: normal;
	border-bottom: 5px solid darkblue;
	padding-bottom: .5em;
	margin-bottom: .5em;
}

.border-top {
	border-top: 5px solid darkblue;
	padding-top: .5em;
	margin-top: .5em;
}

nav {
	top: 0px;
	margin: 0px;
	padding: 0px;
	height: var(--nav-height);
	position: fixed;
	width: 100%;
	background: white;
	margin: -.5em;
	padding: .5em;
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,0) 100%);
}
nav,
nav ul
{
	display: flex;
	flex-wrap: wrap;
}

nav ul li {
	margin: 0 2em;
	list-style: none;
}
main {
	/* padding-top: calc(var(--nav-height) * 2) */
}
main section  {
	scroll-margin-top: calc(var(--nav-height) * 2);
	scroll-padding-block: 100vh;
	border-bottom: 5px solid var(--cl-default);
}

.content {
	width: calc(40% - 3em);
	padding: 1em;
}
.image {
	width: 60%;
	background: #ccc;
}
.image img {
	width: 100%;
	height: auto;
}

p {
	font-size: 1.8vw;
	line-height: 1.2em;
	
}
p + p {
	text-indent: 1em;
}

section#part-top {
	padding-top: 1em;
	background: var(--bg-default);

	background-repeat: no-repeat;
	background-image: url('../images/fond.svg');
	background-size: 100%;
}
section#part-end {
	padding-top: 1em;
	background: var(--bg-default);

	height: 80vh;

	background-repeat: no-repeat;
	background-image: url('../images/end.svg');
	background-size: 100%;
}
section#part1,
section#part2,
section#part3
{
	display: flex;
	flex-wrap: wrap;
}
section#part1 .image ,
section#part2 .image,
section#part3 .image{
	border-right: 5px solid darkblue;
}  
section#part2 .content {
	background: yellow;
	border-right: 5px solid darkblue;
}
section#part3 {
	  background: orange;
} 
section#part3 .image{
	background: var(--bg-default)
}
section#part3 .content {
	background: orange;
	font-size: 2.4rem;
}
#galery .slide {
	display: flex;
	height: 80vh;
	overflow-y: hidden;
	overflow-x: scroll;
	background: var(--cl-default);
  overflow: scroll;
}
#galery .slide img {
	height: 100%;
	width: auto;
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(100%);
  filter: grayscale(100%) contrast(100%);
  opacity: 1;
}

#galery .slide img:hover {
	filter: initial;
	mix-blend-mode: initial;
}

footer {
	position: fixed;
	width: 100%;
	height: 60px;
	background: yellow;
	z-index: 2;
	bottom: 0px;
	margin: -.5em;
	padding: .5em;
	border-top: 5px solid var(--cl-default);
	/* padding-top: 1em; */
	font-size: 2em;
/* 	 background: rgb(247,255,0); */
/* background: linear-gradient(0deg, rgba(247,255,0,1) 2%, rgba(247,255,0,1) 68%, rgba(255,255,255,0) 100%); */
}

footer ul {
	display: flex; 
}
footer ul li {
	margin-right: 2em;
}


#part-end {
	display: flex;
	align-items: flex-end;
	margin-bottom: 80px;
}
.bulle {
	background: white;
	border: 3px solid darkblue;
	border-radius: 50%;
	padding: 1rem;
	margin: 1rem;
	cursor: pointer;
}

.bulle:hover {
	background: darkblue;
	color: white;
}


body {
  --sb-track-color: orange;
  --sb-thumb-color: darkblue;
  --sb-size: 20px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

@media screen and (max-width: 992px) {

	nav ul li {
		margin: 0 1em;
	}

	section .image,
	section .content {
		width: 100%
	}
	section .content {
		padding: 4rem;
		outline: 5px solid darkblue;
	}
	section p {
		font-size: 2rem;
	}
	section#part1,
	section#part2
	{
		width: 100%;
		/* display: block; */
	}

	#part2 .content {
		order: 2
	}

	section#galery .slide {
		height: 600px;
	}
	section#part-end {
		height: 400px;
	}
}


 
